*{
	margin: 0;
 	padding: 0;
}

 .image1{
 	width: 100%;
 	height: 100VH;
 	background-colour: blue;
	background-image( 'file:///C:\Users\hp\Desktop\HARMEET HTML\Html MV IMAGE.jpeg');
 	background-size: 100% 100%;
 	background-attachment: fixed;

 }
